
  <!-- begin #about section -->
  <section id="about">
  <!-- begin parallax image background 1 -->
  <div class="image-1" data-stellar-background-ratio="0.5">
    <!-- YOUR CAN CHANGE THE TINT COLOR JUST LIKE SOLID COLORS -->
    <div class="black-tint">
      <!-- HEADLINE STATEMENT -->
      <section class="row center">
      <h1 class="large">WE ARE THE EXPLORERS</h1>
      <h4 class="light serif">We design and create brands</h4>
      </section>
      <!-- begin icon row -->
      <section class="row bigtoppadding">
      <div class="four columns center">
        <!-- main icon -->
        <div class="main-icon">
          <i class="icon-resize-full"></i>
        </div>
        <h5>RESPONSIVE DESIGN</h5>
        <p>
           Lorem ipsum dolor sit amet, adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus. Etiam enim lacus, ornare et tempor et, rhoncus sem.
        </p>
      </div>
      <div class="four columns center">
        <!-- main icon -->
        <div class="main-icon">
          <i class="icon-apple"></i>
        </div>
        <h5>RETINA READY</h5>
        <p>
           Lorem ipsum dolor sit amet, adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus. Etiam enim lacus, ornare et tempor et, rhoncus sem.
        </p>
      </div>
      <div class="four columns center">
        <!-- main icon -->
        <div class="main-icon">
          <i class="icon-star-empty"></i>
        </div>
        <h5>WELL DOCUMENTED</h5>
        <p>
           Lorem ipsum dolor sit amet, adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus. Etiam enim lacus, ornare et tempor et, rhoncus sem.
        </p>
      </div>
      </section>
      <!-- end icon row -->
    </div>
  </div>
  <!-- end parallax image section 1 -->
  <!-- Agency info section -->
  <div class="white">
    <!-- section heading -->
    <section class="row heading">
    <h1><span>A LITTLE</span> ABOUT US</h1>
    <h5 class="grey-text">
    We create brands people love and activate them across digital media.</h5>
    </section>
    <!-- section content -->
    <section class="row bigtoppadding">
    <!-- story -->
    <div class="six columns">
      <h5 class="bold">OUR STORY</h5>
      <p>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Morbi suscipit interdum molestie. Aenean fringilla dui magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. <br>
        <br>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Morbi suscipit interdum molestie.
      </p>
    </div>
    <!-- skills -->
    <div class="five columns push_one">
      <h5 class="bold">OUR SKILLS</h5>
      <!-- skills / Add width out of 100% which will show the percentage of your skills -->
      <div class="skill-box">
        <div class="skill" style="width:92%">
           GRAPHIC DESIGN <span>92%</span>
        </div>
      </div>
      <div class="skill-box">
        <div class="skill" style="width:86%">
           ART DIRECTION <span>86%</span>
        </div>
      </div>
      <div class="skill-box">
        <div class="skill" style="width:78%">
           PRINT DESIGN <span>78%</span>
        </div>
      </div>
      <div class="skill-box">
        <div class="skill" style="width:96%">
           DEVELOPMENT <span>96%</span>
        </div>
      </div>
      <div class="skill-box">
        <div class="skill" style="width:94%">
           WEB DESIGN <span>94%</span>
        </div>
      </div>
    </div>
    <!-- end skills -->
    </section>
  </div>
   
  </section>
  <!-- end #about section -->