
  <!-- begin #about section -->
  <section id="about">
  <!-- begin parallax image background 1 -->
  <div class="image-1" data-stellar-background-ratio="0.5">
    <!-- YOUR CAN CHANGE THE TINT COLOR JUST LIKE SOLID COLORS -->
    <div class="black-tint">
      <!-- HEADLINE STATEMENT -->
      <section class="row center">
      <h1 class="large">WE ARE THE EXPLORERS</h1>
      <h4 class="light serif">We design and create brands</h4>
      </section>
      <!-- begin icon row -->
      <section class="row bigtoppadding">
      <div class="four columns center">
        <!-- main icon -->
        <div class="main-icon">
          <i class="icon-resize-full"></i>
        </div>
        <h5>RESPONSIVE DESIGN</h5>
        <p>
           Lorem ipsum dolor sit amet, adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus. Etiam enim lacus, ornare et tempor et, rhoncus sem.
        </p>
      </div>
      <div class="four columns center">
        <!-- main icon -->
        <div class="main-icon">
          <i class="icon-apple"></i>
        </div>
        <h5>RETINA READY</h5>
        <p>
           Lorem ipsum dolor sit amet, adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus. Etiam enim lacus, ornare et tempor et, rhoncus sem.
        </p>
      </div>
      <div class="four columns center">
        <!-- main icon -->
        <div class="main-icon">
          <i class="icon-star-empty"></i>
        </div>
        <h5>WELL DOCUMENTED</h5>
        <p>
           Lorem ipsum dolor sit amet, adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus. Etiam enim lacus, ornare et tempor et, rhoncus sem.
        </p>
      </div>
      </section>
      <!-- end icon row -->
    </div>
  </div>
  <!-- end parallax image section 1 -->
  <!-- Agency info section -->
  <div class="white">
    <!-- section heading -->
    <section class="row heading">
    <h1><span>A LITTLE</span> ABOUT US</h1>
    <h5 class="grey-text">
    We create brands people love and activate them across digital media.</h5>
    </section>
    <!-- section content -->
    <section class="row bigtoppadding">
    <!-- story -->
    <div class="six columns">
      <h5 class="bold">OUR STORY</h5>
      <p>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Morbi suscipit interdum molestie. Aenean fringilla dui magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. <br>
        <br>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Morbi suscipit interdum molestie.
      </p>
    </div>
    <!-- skills -->
    <div class="five columns push_one">
      <h5 class="bold">OUR SKILLS</h5>
      <!-- skills / Add width out of 100% which will show the percentage of your skills -->
      <div class="skill-box">
        <div class="skill" style="width:92%">
           GRAPHIC DESIGN <span>92%</span>
        </div>
      </div>
      <div class="skill-box">
        <div class="skill" style="width:86%">
           ART DIRECTION <span>86%</span>
        </div>
      </div>
      <div class="skill-box">
        <div class="skill" style="width:78%">
           PRINT DESIGN <span>78%</span>
        </div>
      </div>
      <div class="skill-box">
        <div class="skill" style="width:96%">
           DEVELOPMENT <span>96%</span>
        </div>
      </div>
      <div class="skill-box">
        <div class="skill" style="width:94%">
           WEB DESIGN <span>94%</span>
        </div>
      </div>
    </div>
    <!-- end skills -->
    </section>
    <!-- begin team section -->
    <!-- team heading -->
    <section class="row heading center bigtoppadding">
    <h4>MEET THE TEAM</h4>
    <h5 class="eight columns centered">These are the people behind all the magic.</h5>
    </section>
    <!-- team row / add team info -->
    <section class="row bigtoppadding">
    <!-- add class 'team' to each of the team member column -->
    <div class="four columns team">
      <!-- team image -->
      <div class="border-img">
        <img src="preview/pre200.png" alt="person">
      </div>
      <!-- member info and social media icons -->
      <div class="member-info">
        <h5>JEN F THOMPSON</h5>
        <h6 class="blue-text italic">Lead Designer</h6>
        <p>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
        </p>
        <a href="" title="Facebook"><i class="icon-facebook"></i></a>
        <a href="" title="Twitter"><i class="icon-twitter"></i></a>
        <a href="" title="Google +"><i class="icon-google-plus"></i></a>
      </div>
    </div>
    <!-- add class 'team' to each of the team member column -->
    <div class="four columns team">
      <!-- team image -->
      <div class="border-img">
        <img src="preview/pre200.png" alt="person">
      </div>
      <!-- member info and social media icons -->
      <div class="member-info">
        <h5>NIKOLAS SULEVAN</h5>
        <h6 class="blue-text italic">Lead Developer</h6>
        <p>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
        </p>
        <a href="" title="Facebook"><i class="icon-facebook"></i></a>
        <a href="" title="Twitter"><i class="icon-twitter"></i></a>
        <a href="" title="Google +"><i class="icon-google-plus"></i></a>
      </div>
    </div>
    <!-- add class 'team' to each of the team member column -->
    <div class="four columns team">
      <!-- team image -->
      <div class="border-img">
        <img src="preview/pre200.png" alt="person">
      </div>
      <!-- member info and social media icons -->
      <div class="member-info">
        <h5>LISA MAHONE</h5>
        <h6 class="blue-text italic">Account Manager</h6>
        <p>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
        </p>
        <a href="" title="Facebook"><i class="icon-facebook"></i></a>
        <a href="" title="Twitter"><i class="icon-twitter"></i></a>
        <a href="" title="Google +"><i class="icon-google-plus"></i></a>
      </div>
    </div>
    </section>
  </div>
  <!-- end team -->
  <!-- client parallax image section 2 -->
  <div class="image-2" data-stellar-background-ratio="0.5">
    <div class="black-tint">
      <!-- client section -->
      <section class="row heading center">
      <h3>SOME OF OUR CLIENTS</h3>
<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</h5>      </section>
      <!-- client logo row -->
      <section class="row">
      <div class="eleven columns centered">
        <div class="two columns">
          <img src="preview/logo2.png" alt="client" class="client">
        </div>
        <div class="two columns">
          <img src="preview/logo1.png" alt="client" class="client">
        </div>
        <div class="two columns">
          <img src="preview/logo3.png" alt="client" class="client">
        </div>
        <div class="two columns">
          <img src="preview/logo5.png" alt="client" class="client">
        </div>
        <div class="two columns">
          <img src="preview/logo4.png" alt="client" class="client">
        </div>
        <div class="two columns">
          <img src="preview/logo6.png" alt="client" class="client">
        </div>
      </div>
      <!-- call to action button -->
      <div class="four columns centered center">
        <div class="ten columns centered primary large btn">
          <a href="#">CONTACT US</a>
        </div>
      </div>
      </section>
    </div>
  </div>
  <!-- end  client/image parallax div -->
  </section>
  <!-- end #about section -->