  <!-- begin contact container -->
  <section id="contact">
  <div class="white">
    <!-- section heading -->
    <section class="row heading">
    <h1><span>GET IN</span>TOUCH</h1>
    <h5>Hey there! Nice to meet you. If you like what you see and would like to work with us,please fill the form below to get in touch. We aim to respond to all enquiries within three working days.</h5>
    </section>
    <!-- contact form row-->
    <section class="row bigpadding">
    <div class="eight columns centered">
      <!-- div shows on successful form submission -->
      <div id="success">
      </div>
      <!-- begin form div -->
      <div id="fields">
        <!-- begin contact form -->
        <form method="post" action="#" id="contactform">
          <ul>
            <li>
            <p class="grey-text italic">
              * All fields are required.
            </p>
            </li>
            <li class="field"><input class="text input" type="text" placeholder="Your Name" name="name" id="name"></li>
            <li class="field"><input class="email input" type="email" placeholder="Your Email" name="email" id="email"></li>
            <li class="field"><input class="subject input" type="text" placeholder="Subject" name="subject" id="subject"></li>
            <li class="field"><textarea class="input textarea" placeholder="Your Message" rows="4" name="message" id="message"></textarea></li>
            <li class="row">
            <div class="eight columns">
              <p>
                <i class="icon-lock"></i> We will never share your information with any 3rd party.
              </p>
            </div>
            <!-- submit button -->
            <div class="four columns large btn primary">
              <input value="submit" class="submit" id="submit" name="submit" type="submit">
            </div>
            </li>
          </ul>
        </form>
        <!-- end contact form -->
      </div>
      <!-- end form div -->
    </div>
    </section>
    <!-- end contact form row -->
  </div>
  </section>
  <!-- end contact container -->