<section id="contact">
  <div class="white">

    <section class="row heading">
    <h2>Hit us up!</h2>
    <h5>Happy to hear about potential partnership opportunities, questions you have about your MINTs and our designs in general.</h5>
    </section>


    <section class="row bigpadding">
      <div class="eight columns centered">
        {% form 'contact' %}
          <div id="success">
            {% if form.posted_successfully? %}
              <div class="successForm feedback">
                <p>Thanks for contacting us! We'll get back to you as soon as possible.</p>
              </div>
            {% endif %}

            {% if form.errors %}
              <div class="errorForm feedback">
              <p>Oops, sorry. We were unable to submit your inquiry because it contained {{ form.errors | size | pluralize: 'an error', 'a few errors' }}. Please correct the following and submit again:</p>
              {% for field in form.errors %}
                <p>The {{ field | capitalize | replace: 'Body', 'Message' }} field {{ form.errors.messages[field] }}.</p>
              {% endfor %}
              </div>
            {% endif %}
          </div>

          <div id="fields">
            <ul>
              <li class="field"><input class="text input" type="text" placeholder="Your Name" name="contact[name]" id="contactFormName"></li>
              <li class="field"><input class="email input" type="email" placeholder="Your Email" name="contact[email]" id="contactFormEmail"></li>
              <li class="field"><input class="subject input" type="telephone" placeholder="Your Phone Number" name="contact[phone]" id="contactFormTelephone"></li>
              <li class="field"><textarea class="input textarea" placeholder="Your Message" rows="4" name="contact[body]" id="contactFormMessage"></textarea></li>
              <li class="row">
              <div class="eight columns">
              </div>
              <div class="four columns large btn primary">
                <input value="SUBMIT" class="large btn primary small-btn" id="contactFormSubmit" name="submit" type="submit">
              </div>
              </li>
            </ul>
          </div>
        {% endform %}
      </div>
    </section>

    <style>
    .successForm {background:#BDE0A8;color:green}
    .errorForm {background:#EEBDBD;color:red}
    </style>
  </div>
</section>

