    <div class="content lpnav">

      <ul class="bmenu">
        <li class="active"><a href="#home" class="skip" gumby-goto="#home" gumby-duration="800">HOME</a></li>
        <li><a href="#work" class="skip" gumby-goto="#work" gumby-duration="800" gumby-offset="-70">SHOP</a></li>
        <li><a href="#about" class="skip" gumby-goto="#about" gumby-duration="800" gumby-offset="-70">STORY</a></li>
        <li><a href="http://mintsocksrock.tumblr.com/" target="_blank">BLOG</a></li>
        <li><a href="#contact" class="skip" gumby-goto="#contact" gumby-duration="800" gumby-offset="-70">CONTACT</a></li>
      </ul>
    </div>
