  <!-- begin work section -->
  <section id="work">
  <div class="white">
    <!-- section heading -->
    <section class="row heading">
    <h2>Shop Mints</h2>
    </section>
    <!-- portfolio filters -->
    <!-- replace data filters for your project categories
  *remember to add your filters as classes to your projects for filters to work -->
    <!-- project details container 
   YOU DO NOT NEED TO EDIT ANYTHING HERE 
   -->
    <div id="ajax-section">
      <div class="clearfix">
        <!-- PROJECT NAVIGATION AND CLOSE BUTTON -->
        <section class="row">
        <div id="ajax-nav">
          <ul>
            <li id="prevProject"><a href="#"><i class="icon-chevron-left"></i></a></li>
            <li id="nextProject"><a href="#"><i class="icon-chevron-right"></i></a></li>
            <li id="closeProject"><a href="#work"><i class="icon-remove"></i></a></li>
          </ul>
        </div>
        <!-- END PROJECT NAVIGATION AND CLOSE BUTTON -->
        </section>
        <div id="loader">
        </div>
        <!-- PROJECT WILL LOSE INSIDE 'AJAX-INSIDE' -->
        <div id="ajax-outside">
          <div id="ajax-inside">
          </div>
        </div>
        <!-- END AJAX CONTENT -->
      </div>
      <!-- END AJAX SECTION -->
      <div class="clear">
      </div>
    </div>
    <!-- BEGIN PORTFOLIO ROW-->
    <section class="row midtoppadding">

    <!--START COLLECTION GIRD -->
      <div id="cbp-pgcontainer" class="cbp-pgcontainer">
        <ul class="cbp-pggrid">
          {% assign collection = collections.frontpage %}
          {% for product in collection.all_products %}
            <li>
              <div class="cbp-pgcontent">
                <span class="cbp-pgrotate">Rotate Item</span>
                <div class="cbp-pgitem">
                  <div class="cbp-pgitem-flip">
                    <img src="{{ product.featured_image.src | product_img_url: 'master' }}" />
                    <img src="{{ product.featured_image.src | product_img_url: 'master' }}" />
                  </div>
                </div><!-- /cbp-pgitem -->
                <ul class="cbp-pgoptions">
                  <li class="cbp-pgoptcompare">Compare</li>
                  <li class="cbp-pgoptfav">Favorite</li>
                  <li class="cbp-pgoptsize">                
                    <span data-size="XL">XL</span>
                    <div class="cbp-pgopttooltip">
                      <span data-size="XL">XL</span>
                      <span data-size="L">L</span>
                      <span data-size="M">M</span>
                      <span data-size="S">S</span>
                    </div>
                  </li>
                  <li class="cbp-pgoptcolor">
                    <span data-color="c1">Blue</span>
                    <div class="cbp-pgopttooltip">
                      <span data-color="c1">Blue</span>
                      <span data-color="c2">Pink</span>
                      <span data-color="c3">Orange</span>
                      <span data-color="c4">Green</span>
                    </div>
                  </li>
                  <li class="cbp-pgoptcart"></li>
                </ul><!-- cbp-pgoptions -->
              </div><!-- cbp-pgcontent -->
              <div class="cbp-pginfo">
                <h3>Save my trees</h3>
                <span class="cbp-pgprice">$29</span>
              </div>
            </li>
      {% endfor %}
      <!-- project 
   remember to add your data-filter as class 
   -->
      
    </ul>
    <!-- end portfolio listings -->
    </section>
    <!-- END PORTFOLIO SECTION -->
  </div>
  </section>
  <!-- end #work section -->