  <!-- begin home/slideshow section -->
  <section id="home" class="slideshow">
  <div class="lp-logo">
    <a href="/">
      <div class="tray">
        {{ 'logo-tray.png' | asset_url | img_tag}}
      </div>
      <div class = "logolp">
        {{ 'lplogo.png' | asset_url | img_tag }}
      </div>
    </a>
  </div>
  <!-- begin header and navigation -->
  {% include 'nav' %}
  <!-- Slideshow Navigation -->
  <div class="slider-nav">
    <section class="row">
    <ul id="slide-list">
    </ul>
    </section>
  </div>
  <div class="slider-base">
    <section class="row">
    <!-- Slideshow captions -->
    <div class="eight columns">
      <div id="slidecaption">
      </div>
    </div>
    <!-- Down link -->
    <div class="four columns right-text">
      <div class="arrow-link">
        <a href="#" class="skip" gumby-goto="#work" gumby-duration="400" gumby-offset="-70"><i class="icon-chevron-down"></i></a>
      </div>
    </div>
    </section>
  </div>
  </section>