/* ==
Styles for smaller screen == */

@media only screen and (max-width: 257px) {


.arrow-link{
display:none;
}

.heading h5{
font-size:14px;
font-weight:600;
}

.project-info h1 {
font-size: 16px !important;
}

.project-info h6 {
font-size: 0.800rem !important;
}

.project-info h6:after{
width:35px;
}

.valign{
display:block;
}

.valign div.half{
display:block;
}

footer ul.links li {
display: inline-block;
}

}

@media only screen and (max-width: 480px) {
   /* Style adjustments for viewports 480px and under go here */


.arrow-link{
display:none;
}
   
#slidecaption h2{
font-size: 24px !important;
line-height:20px !important;
}

.arrow-link{
display:none;
}

.heading h1{
font-size:28px;
line-height:28px;
text-shadow:0px 0px !important;
}

.heading h1 span{
font-size:22px;
line-height:22px;
}

.heading h5{
font-size:14px;
line-height: 22px;
}

.project-info h1 {
font-size: 16px !important;
}

.project-info h6 {
font-size: 0.800rem !important;
}

.project-info h6:after{
width:35px;
}

h1.large {
font-size: 40px;
}

h2 {
font-size: 28px;
}

ul#filters li {
margin-right: 5px;
display: inline;
}

ul#filters li a , ul#filters li a.selected {
padding: 5px 5px;
font-size:10px;
}

.grid li{
width:100%;
}

.project-info{
position:static;
opacity:1;
margin-bottom:10px;
}

.grid-project:hover img {
-webkit-transform: scale(1);
-moz-transform: scale(1);
-o-transform: scale(1);
-ms-transform: scale(1);
-webkit-transition-duration: 0.1s;
-moz-transition-duration: 0.1s;
-ms-transition-duration: 0.1s;
-o-transition-duration: 0.1s;
}

.grid-project:hover .img-box {
top: 0px;
-webkit-transition-duration: 0.1s;
-moz-transition-duration: 0.1s;
-ms-transition-duration: 0.1s;
-o-transition-duration: 0.1s;
}

.service-box{
margin-bottom:12px;
}

.service-box h5 {
font-weight: 800;
display:block;
}

.black-tint, .blue-tint, .white-tint, .red-tint{
padding:30px 0px;
}

.grey.columns, .white.columns, .black.columns, .blue.columns, .red.columns{
margin:15px 0px;
}

.second-icon i {
border: 4px solid #fff;
font-size: 40px;
padding: 28px;
}

.second-icon{
width:100px;
height:100px;
}

.contact-info .columns{
margin-bottom:20px;
}

.contact-info h6{
color:#fff;
}

.valign div.half{
width:100%;
}

.flex-control-paging{
display:none;
}

.largepadding{
padding:50px 0px;
}

.largetoppadding{
padding-top:50px;
}

.largebottompadding{
padding-bottom:50px;
}

.largepadding .largepadding{
padding:20px 0px;
}

.device-mockup .device{
background:none !important;
}

.device-mockup > .device > .screen {
top: 0 !important;
bottom: 0 !important;
left: 0 !important;
right: 0 !important;
}

#ajaxpage{
text-align:left !important;
}

#ajaxpage h2 {
font-size: 24px;
margin-top: 20px;
text-align: left;
}

.post-content p{
font-size: 16px;
line-height: 20px;
}

.post-content {
padding: 0px 0px 40px 0px;
}

div.author{
display:none;
}
.valign .post-meta span{
margin-left:0px;
}

}

@media only screen and (min-width: 480px) and (max-width: 768px) {

.arrow-link{
display:none;
}

.slider-base{
padding-bottom:0px;
}

#slidecaption h2{
font-size: 42px !important;
line-height:36px !important;
}

.heading h1{
font-size:50px;
line-height:46px;
text-shadow:0px 0px !important;
}

.heading h1 span{
font-size:28px;
line-height:28px;
}

.heading h5{
font-size: 14px;
line-height: 20px;
}

h1.large {
font-size: 40px;
}

.grid li{
width:49.9%;
}

.project-info{
position:static;
opacity:1;
margin-bottom:10px;
}

.grid-project:hover img {
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
-webkit-transition-duration: 0.1s;
-moz-transition-duration: 0.1s;
-ms-transition-duration: 0.1s;
-o-transition-duration: 0.1s;
}

.grid-project:hover .img-box {
top: 0px;
-webkit-transition-duration: 0.1s;
-moz-transition-duration: 0.1s;
-ms-transition-duration: 0.1s;
-o-transition-duration: 0.1s;
}


.project-info h6 {
font-size: 0.800rem !important;
}

.project-info h6:after{
width:35px;
}

.project-info h1 {
font-size: 16px !important;
}

.member-info{
text-align:left !important;
}

.four.columns{
margin-bottom:20px;
}

.four.columns.logo{
margin-bottom:0px;
}

.service-icon {
width: 150px!important;
height: 150px!important;
float: none!important;
margin:0px auto 10px !important;
padding-top: 32px !important;
}

.service-icon:hover{
padding-top:32px;
}

.service-icon i {
font-size: 80px !important;
}

.largepadding{
padding:50px 0px;
}

.largetoppadding{
padding-top:50px;
}

.largebottompadding{
padding-bottom:50px;
}

.largepadding .largepadding{
padding:0px 0px;
}


}


@media only screen and (min-width: 768px) and (max-width: 992px) {


.arrow-link{
display:none;
}

.slider-base{
padding-bottom:10px;
}

#slidecaption h2{
font-size: 48px !important;
line-height:40px !important;
}

.heading h1{
font-size:80px;
line-height:70px;
text-shadow:0px 0px !important;
}

.heading h1 span{
font-size: 58px;
line-height: 58px;
}

.heading h5{
font-size: 18px;
line-height: 20px;
font-weight:400;
}

h1.large {
font-size: 40px;
}

.project-info h1 {
font-size: 16px !important;
}

.project-info h6 {
font-size: 0.800rem !important;
}

.project-info{
position:static;
opacity:1;
margin-bottom:10px;
}

.grid-project:hover img {
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
-webkit-transition-duration: 0.1s;
-moz-transition-duration: 0.1s;
-ms-transition-duration: 0.1s;
-o-transition-duration: 0.1s;
}

.grid-project:hover .img-box {
top: 0px;
-webkit-transition-duration: 0.1s;
-moz-transition-duration: 0.1s;
-ms-transition-duration: 0.1s;
-o-transition-duration: 0.1s;
}

.project-info h6:after{
width:35px;
}

p{
font-size:12px;
}

.member-info {
padding: 0px 0px 15px;
}

h5 {
font-size: 18px !important;
font-weight:600 !important;
}

.services li {
font-size: 12px;
}

.contact-info h5 {
font-size: 14px;
}

.largepadding{
padding:50px 0px;
}

.largetoppadding{
padding-top:50px;
}

.largebottompadding{
padding-bottom:50px;
}

.largepadding .largepadding{
padding:20px 0px;
}

}




@media only screen and (min-width: 992px) {
.row{
max-width: 980px;
}

.btn.large a, .skiplink.large a{
font-size: 18px;
font-size: 1.125rem;
}

}

@media only screen and (min-width: 1200px) {
.row{
max-width: 1170px;
}

.btn.large a, .skiplink.large a {
font-size: 1.25rem;
font-size: 20px;
}

}