  <header class="navbar" id="fxdnavbar">
  <div class="row">
    <div class="four columns logo">
      <a href="/"> {{ 'logo.png' | asset_url | img_tag }} </a>
    </div>
    <!-- navigation -->
      <ul class="seven columns" id="top-nav">
        <li class="blog-nav"><a href="#home" class="skip" gumby-goto="#home" gumby-duration="800">HOME</a></li>
        <li class="blog-nav"><a href="#work" class="skip" gumby-goto="#work" gumby-duration="800" gumby-offset="-70">SHOP</a></li>
        <li class="blog-nav"><a href="#about" class="skip" gumby-goto="#about" gumby-duration="800" gumby-offset="-70">STORY</a></li>
        <li class="active"><a href="/">BLOG</a></li>
        <li class="blog-nav"><a href="#contact" class="skip" gumby-goto="#contact" gumby-duration="800" gumby-offset="-70">CONTACT</a></li>
        <li id={% if cart.item_count > 0 %} "show-cart" {%endif%}><a href="/cart" >
          <i class="large icon-basket"></i>
              <span class="item_count">
                {% if cart.item_count > 0 %}
                <p class="cart-items">
                  {{ cart.item_count }}
                </p>
                {% endif %}
              </span>
        </a></li>
      </ul>
  </div>

  </header>
