 <!-- begin footer -->
  <footer>
  <div class="black">
    <section class="row contact-info">
    <!-- 1st widget -->
    <div class="four columns">
      <h6>SHOP</h6>
      <h5>Street art inspired graffiti men's fashion socks. A fusion of the old and the new, patterns refreshed!

        </h5>
    </div>
    <!-- second widget -->
    <div class="four columns footer">
      <h6>CONTACT</h6>
      <h5>
      <span>Customer Service</span><br>
      <span>Wholesale Inquiries</span><br>
        <span>Design Partnership Opportunities</span><br></h5>
        <a href="mailto:info@mintsocks.com">info@mintsocks.com</a></h5>
    </div>
    <!-- third widget -->
    <div class="four columns">
      <h6>GET INSPIRED</h6>
      <h5>
        Graffiti art inspired daily writings brought to you by yours truly, Mint Socks.  Step into a truly underground lifestyle. </h5>
    </div>
    </section>
    <!-- begin vertical align row -->
    <section class="row">
    <div class="valign">
    <!-- 50% width -->
    <div class="half">
      <h1 class="logo">{{ 'logo.png' | asset_url | img_tag}}</h1>
      <p>
        Digitized, Urbanized Streetart realized in the way you express yourself.
      </p>
      <p>
        &copy; {{ "now" | date: "%Y" }} Parastone Group. All rights reserved.
      </p>
    </div>
    <!-- 50% width -->
    <!-- add agency social media links -->
    <div class="half">
      <ul class="links">
        <li><a href="http://www.facebook.com/MintSocksRock" target="_blank"><i class="icon-facebook"></i></a></li>
        <li><a href="http://twitter.com/MintSocksRock" target="_blank"><i class="icon-twitter"></i></a></li>

        <li><a href="http://instagram.com/mintsocksrock" target="_blank"><i class="icon-instagram"></i></a></li>
        <li><a href="http://mintsocksrock.tumblr.com/" target="_blank"><i class="icon-tumblr"></i></a></li>
        <li><a href="http://www.pinterest.com/mintsocksrock/" target="_blank"><i class="icon-pinterest"></i></a></li>
      </ul>
    </div>
    </div>
    </section>
  </div>
  <!-- copyright -->
  <div class="white">
    <section class="row center">
    <p class="grey-text">

    </p>
    </section>
  </div>
  </footer>
  <!-- end footer -->
