 <!-- quote parallax image section 3 -->
  <div class="image-3" data-stellar-background-ratio="0.5">
    <div class="black-tint">
      <!-- QUOTE -->
      <section class="row heading center bigpadding">
      <h4 class="ten columns centered">“Art is an evolutionary act. The shape of art and its role in society is constantly changing. At no point is art static. There are no rules.” </h4><br>
      <h5 class="ten columns centered quote-citation">Raymond Salvatore Harmon, BOMB: A Manifesto of Art Terrorism</h5>

      <h4 class="ten columns centered">“Graffiti is one of the few tools you have if you have almost nothing.”</h4>
      <h5 class="ten columns centered quote-citation">Banksy, Banging Your Head Against a Brick Wall</h5>

      </section>
    </div>
  </div>
  <!-- end  quote/image parallax div -->
