  <!-- begin #services section -->
  <section id="services">
  <div class="white">
    <!-- section heading -->
    <section class="row heading">
    <h1><span>SERVICES</span>WE OFFER</h1>
    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est.</h5>
    </section>
    <!-- begin service row -->
    <section class="row bigtoppadding">
    <!-- add class 'service-box' for each column of services -->
    <div class="four columns service-box">
      <!-- service icon -->
      <div class="service-icon">
        <i class="icon-eye-open"></i>
      </div>
      <h5>DESIGN</h5>
      <p>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
      </p>
      <!-- services list -->
      <ul class="services">
        <li>Web Design</li>
        <li>Design for Mobile</li>
        <li>Branding and Identity</li>
        <li>Print Design</li>
      </ul>
    </div>
    <!-- add class 'service-box' for each column of services -->
    <div class="four columns service-box">
      <!-- service icon -->
      <div class="service-icon">
        <i class="icon-list-alt"></i>
      </div>
      <h5>DEVELOPMENT</h5>
      <p>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
      </p>
      <!-- services list -->
      <ul class="services">
        <li>Front &amp; Back-end Development</li>
        <li>Mobile Development</li>
        <li>Ecommerce</li>
      </ul>
    </div>
    <!-- add class 'service-box' for each column of services -->
    <div class="four columns service-box">
      <!-- service icon -->
      <div class="service-icon">
        <i class="icon-camera"></i>
      </div>
      <h5>DIRECTION</h5>
      <p>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
      </p>
      <!-- services list -->
      <ul class="services">
        <li>Art Direction</li>
        <li>Social Media Strategy</li>
        <li>PR Management</li>
        <li>Photography</li>
      </ul>
    </div>
    </section>
  </div>
  <!-- end white -->
  </section>
  <!-- end service section -->